:root {
  --darkest-blue: #040918;
  --darker-blue: #001a33;
  --base-blue: #1F2947;
  --light-blue: #324376;
  --light-orange: #FFBD80;
  --dark-orange: #F39237;
}

.App {
  width: 100vw;
  height: 100vh;
}

.Sidebar{
  height: 100%;
  width: 230px;
  background-color: var(--darkest-blue);
}

.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .tab{
  width: 100%;
  height: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .tab:hover{
  cursor: pointer;
  color: var(--dark-orange);
}

.SidebarList #active{
  color: var(--dark-orange);
}

.tab #icon{
  flex: 40%;
  display: grid;
  place-items: center;
}

.tab #title{
  flex:60%;
  font-size: large;
}

.PageMenuAndContent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--light-blue);
}

.outerContainer{
  width: 100%;
  /* height: 100%; */
  height: 100vh; 
  background-color: var(--light-blue);
}

.titleContainer{
  width: 100%;
  height: 100px;
  font-size: 40px;
  color: white;
}

.logoContainer img{
  align-items: center;
  /*position: absolute;*/
  top: 10%;
  left: 50%;
  height: 200px;
  width: 300px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px; 
}

input[type=text] {
  display: flex;
  text-align: center;
  align-items: center;
  padding: 10px; 
  font-size: 16px; 
  margin-bottom: 20px;
  color: #000000; 
  border: none; 
  width: 90%;
}


.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 10px 200px; 
  font-size: 16px; 
  background-color: #007bff;
  color: #fff; 
  border: none; 
  cursor: pointer; 
}