:root {
  --darkest-blue: #040918;
  --darker-blue: #001a33;
  --base-blue: #1F2947;
  --light-blue: #324376;
  --slides-light-blue: #e6f8f8;
  --slides-bright-blue: #47b1e2;
  --slides-medium-blue: #045394;
  --slides-dark-blue: #04234b;
  --light-orange: #FFBD80;
  --dark-orange: #F39237;
}

/* Page Setup */

.App {
  width: 100vw;
  height: 100vh;
}

.PageMenuAndContent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--base-blue);
}

.PageContent{
  width: 100%;
  padding: 5px 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Sidebar navigation */

.Sidebar{
  height: 100%;
  width: 200px;
  background-color: var(--darkest-blue);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.SidebarList{
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .tab{
  width: 100%;
  height: 50px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .tab:hover{
  cursor: pointer;
  color: var(--dark-orange);
}

.SidebarList #active{
  color: var(--dark-orange);
}

.tab #icon{
  flex: 40%;
  display: grid;
  place-items: center;
}

.tab #title{
  flex:60%;
  font-size: large;
}

/* Log in Page */

.outerContainer{
  /* box-sizing: border-box;
  padding: 65px; */
  width: 100%;
  /* height: 100%; */
  height: 100vh; 
  background-color: var(--darkest-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginBox{
  /* background-color: #045394; */
  padding-bottom: 9%;
}

.titleContainer{
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 40px;
  color: snow;
}

.greetingContainer{
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: 20px;
  color: ivory;
}

.logoContainer img{ 
  align-items: center;
  text-align: center;
  top: 10%;
  left: 50%;
  height: 200px;
  width: 300px;
}

.logoContainer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
}

.inputContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 200px;
  width: 200px; 
}

input[type=text] {
  display: flex;
  text-align: left;
  margin: 0 auto;
  align-items: center;
  padding: 10px; 
  font-size: 16px; 
  margin-bottom: 20px;
  color: #000000; 
  border: none; 
  width: 330px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  box-sizing: border-box;
  padding: 10px; 
  width: 350px;
  font-size: 16px; 
  background-color: var(--dark-orange);
  color: #000; 
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
}

.Icon img{
  width: 200px; 
  height: 200px;
  height: auto; 
}

/* Progress bar */
.progressContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progressText{
  width: 30px;
  margin-left: 15px;

  display: flex;
  flex-direction: row;

  color: silver;

}

.progressBar{
  width: 100%;
  height: 20px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;

  border-radius: 60px;
  background-color: var(--light-blue);

  overflow: hidden;
}

.progressFill{
  width: 0%;

  background: linear-gradient(
    180deg,
    var(--light-orange) 0%,
    var(--dark-orange) 35%,
    #f1821a 100%
  );
}

/* Goals page */
.GoalItems{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  margin: 15px auto 5px;
}

.goal{
  background-color: var(--darker-blue);
  color: silver;
  /* width: 500px; */
  min-width: 330px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0px 15px 15px;
  margin: 0px 5px;
  flex-grow: 1;
  flex-basis: 0;
}

.TasksAndAccomplishments{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 15px;
}

.TasksSection{
  /* background-color: #045394; */
  color: whitesmoke;
  /* width: 520px; */
  min-width: 330px;
  height: auto;
  box-sizing: border-box;
  padding: 0px 15px;
  flex-grow: 1;
  flex-basis: 0;
}

.addTaskContainer{
  /* background-color: #47b1e2; */
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.addTaskContainer .taskIcon{
  /* background-color: var(--darker-blue); */
  margin: 5px;
  box-sizing: border-box;
  padding: 10x;
}

.addTaskContainer input.addTaskInput{
  border: 1px solid var(--darker-blue);
  background-color: var(--light-blue);
  color: rgb(217, 222, 227);
  width: 100%;
  border-radius: 5px;
  margin: 5px 0px;
}

.addTaskContainer input::-webkit-input-placeholder{
  color: rgb(217, 222, 227);
}


.addTaskContainer button{
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px 0px;
  background-color: orange;
}

.addTaskContainer button:hover{
  background-color: var(--dark-orange);
  cursor: pointer;
}

/* .tasksList{
  width: 100%;
  height: auto;
  background-color: var(--light-orange);
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  gap: 8px;
} */

.task{
  background-color: var(--darker-blue);
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  box-shadow: 2px 2px var(--darkest-blue);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin: 8px 0px;
  touch-action: none;

  cursor: grab;
}

.task:hover{
  background-color: var(--darkest-blue);
}

.task:active{
  cursor: grabbing;
}

.AccomplishmentsSection{
  /* background-color: var(--darkest-blue); */
  color: whitesmoke;
  /* width: 520px; */
  min-width: 330px;
  height: auto;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0px 15px;
  flex-grow: 1;
  flex-basis: 0;
}

.badgesList{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 9px;
  /* background-color: #f1821a; */
}

.badgeButton{
  width: 115px;
  height: 115px;
  background-color: var(--darker-blue);
  border-radius: 5px;
  color: silver;
  border-style: solid;
  border-color: var(--darker-blue);
  box-shadow: 2px 2px var(--darkest-blue);
}

.badgeButton .title{
  /* background-color: #f1821a; */
  color: gainsboro;
  font-weight: bolder;
  font-size:medium
}

.badgeButton hr{
  border-color: var(--light-blue);
}

.badgeButton p{
  /* background-color: #045394; */
  margin-bottom: 0px;
}

/* Website Responsiveness */

@media (max-width: 1100px) {
  /* Sidebar */
  .Sidebar{
    width: 100px;
  }

  .Icon img{
    display: none;
  }

  .tab #title{
    display: none;
  }

  .QuestionItems{
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  .question{
    width: 95%;
  }
}

@media (max-width: 550px){
  /* temporary: make hamburger menu */
  .Sidebar{
    display: none;
  }

  /* Goals page */
  .GoalItems{
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .goal{
    width: 95%;
  }

  .TasksAndAccomplishments{
    flex-direction: column;
    gap:20px;
  }

  .TasksSection{
    width: 95%;
  }

  .AccomplishmentsSection{
    width: 95%;
  }

  .QuestionItems{
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  .question{
    width: 95%;
  }
}

.QuestionItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 20px auto 5px;
}

.question {
  flex: 1;
  margin: 0 60px;
  background-color: var(--darkest-blue);
  color: white;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 60px 50px;
  width: 400px;
  height: 400px;
}

textarea {
    box-sizing: border-box;	
    width: 100%;
    height: 100px;
    resize: none;
}


.submitButton {
  background-color: greenyellow;
  border: none;
  padding: 10px 20px;
  /* text-align: center; */
  margin: 10px auto;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
}